{% extends 'base.html' %}

{% block style %}
    <style>
        .page{
            background-color: #fef0ff;
            height: 65%;
            width: 80%;
            margin: 0 auto;
        }
        h3{
            color: #c3bef0;
            padding-top: 10px;
            text-align: center;
        }
        .btn{
            text-align: right;
            padding-right: 10%;
        }
        .btn_s{
            border: none;
            color: #c471ed;
            background-color: #fef0ff;
            font-family: 'CookieRun-Regular';
            font-size: 16px;
        }
        .signup_form{
            margin: 0 10%;
            width: 80%;
            font-family: 'CookieRun-Regular';
        }
    </style>
{% endblock%}

{% block content %}
    <div class="page">
        <h3>회원가입 페이지</h3>
        <div class="signup_form">
            <form method="POST" action="">
                {% csrf_token %}
                {{signup_form.as_p}}
                <br>
                <div class="btn">
                    <input type="submit" value="회원가입" class="btn_s">
                </div>
            </form>
        </div>
    </div>
{% endblock %}