{% extends 'base.html' %}

{% block style %}
    <style>
        .page{
            background-color: #fef0ff;
            height: 65%;
            width: 80%;
            margin: 0 auto;
            padding: 0 30px;
        }
        .go_box{
            text-align: right;
            padding-top: 10px;
            padding-right: 30px;
            padding-bottom: 10px;
        }
        .note_content{
            padding: 10px;
        }
        .note_btn{
            text-align: right;
        }
        .note_btn > a{
            margin-left: 10px;
        }
        .re_note_form{
            border-color: #c3bef0;
            width: 100%;
            font-family: 'CookieRun-Regular';
        }
        input{
            border: none;
            color: #c471ed;
            background-color: #fef0ff;
            font-family: 'CookieRun-Regular';
            font-size: 16px;
        }
        hr{
           border-color: #c3bef0; 
        }
    </style>

{% endblock %}

{% block content %}
<div class="page">
    <div class="go_box">
        <a href="{% url 'box' %}" >쪽지함</a>
    </div>

    <div class="note_content">
        <p><strong style="font-size: 25px;">{{note_detail.sender}}</strong> &#95; {{note_detail.send_at|date:"Y-m-d"}}</p>
        <p>{{note_detail.content}}</p>

        <div class="note_btn">
            <!--보낸 쪽지를 읽지 않은 경우만 수정 가능-->
            {% if note_detail.is_read == "읽지 않음" %}
                <a href="{% url 'update_note' note_detail.id %}">수정</a>
            {% endif %}

            <a href="{% url 'delete_note' note_detail.id %}">삭제</a>
        </div>
    </div>
    <hr>
        <!--해당 쪽지에 대한 답장 목록
        ReNote가 Note를 외래키로 참조하기 때문에 아래와 같이 작성이 가능-->
        {% for renote in note_detail.renote_set.all %}
            <p><strong style="font-size: 20px;">{{renote.author}}</strong>_{{renote.time|date:"Y-m-d"}}</p>
            <p>{{renote.content}} </p>
        {% endfor %}
        
        <!--답장 작성하는 폼-->
        <form method="POST" action="{% url 'renote' note_detail.id %}">
            {% csrf_token %}
            {{renote_form}}
            <br>
            <div class="note_btn">
                <input type="submit" value="답장">
            </div>
        </form>
    
</div>
{% endblock %}